---
import "@/styles/global.css";
import Layout from "@/layouts/Layout.astro";
import { extractSessionCookie } from "@/lib/utils";
import {getFindingById} from "@/lib/api/findings";
import {getTargetById} from "@/lib/api/targets";

import SeverityBadge from "@/components/findings/severity-badge";

const { finding } = Astro.params;

if (!finding) {
    Astro.redirect("/");
    return
}

const sessionToken = extractSessionCookie(Astro);
const findingData = await getFindingById(finding, sessionToken);
const target = await getTargetById(findingData.target_id, sessionToken);
---

<Layout breadcrumbL1="Findings" breadcrumbL2={findingData.title} breadcrumbL1Href="/project/findings/manage">
    <div class="container mx-auto mt-8">
        <SeverityBadge className={"px-2 mb-2 capitalize text-base"} severity={findingData.severity} />
        <h1 class="text-2xl mb-2">{findingData.title}</h1>
        <p>
            {findingData.description}
        </p>

        <hr class="my-4" />

        <p>Target: <span class="px-1 bg-muted rounded-sm">{target.value}</span></p>
        <p>Finding Type: <span class="px-1 bg-muted rounded-sm">{findingData.finding_type}</span></p>
        <p>Discovered At: <span class="px-1 bg-muted rounded-sm">{new Date(findingData.discovered_at).toLocaleString()}</span></p>

        { findingData.scan_id ? (
            <p class="mt-4">
                <a class="underline hover:text-muted-foreground" href={`/scans/${findingData.scan_id}`}>Related scan</a>
            </p>
        ) : null}

        <h2 class="text-lg mt-2 mb-2">Raw Details</h2>
        <pre class="p-4 bg-muted text-wrap rounded-md">
            {JSON.stringify(findingData.details, null, 2)}
        </pre>
    </div>
</Layout>